body.client-report,
body.about,
body.clients,
body.contact,
body.client-others-news,
body.client-sections,
body.themes,
body.news,
body.signin{
  display: flex;
  flex-direction: column;
}
body.about{
   background-size: cover;
   background-attachment: fixed;
   min-height: 100%;
   height: auto;
   background-position: center top;
   background-repeat: no-repeat;
}

body.client-report .op-content-mt.main-content,
body.news .op-content-mt.main-content,
body.themes .op-content-mt.main-content,
body.about .uk-container.op-content-mt,
body.clients .uk-container.clientes,
body.contact .uk-container.op-content-mt,
body.client-others-news .op-content-mt.main-content,
body.client-sections .op-content-mt.main-content,
body.signin .uk-container{
  flex: 1 0 auto;
}

body .uk-lightbox-iframe{
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-top: 2.5%;
  display: block;
}
body .lightbox{
  max-height: 600px;
  overflow: hidden;
}
body .lightbox .uk-lightbox-caption>*,
body .lightbox .uk-lightbox-caption{
  display: inline-block !important;
  margin: 0 auto !important;
  background: #000 !important;
}
body .lightbox.pdf{
  height: 600px;
}
body .lightbox a embed,
body .lightbox a img{
  transition: all ease-in-out .2s;
}
body .lightbox a:hover embed,
body .lightbox a:hover img{
  opacity: .75;
  transition: all ease-in-out .3s;
}
body #lightbox > a:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 4;
}
#doc{
  position: relative;
}
#doc #lightbox{
  position: relative;
}
#doc .icon-maximize{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  background: rgba(255,255,255,1);
  color: #000;
  font-size: 2em;
  padding: .3em;
  border-radius: 5px;
  text-decoration: none;
  transition: all ease-in-out .2s;
  z-index: 2;
}
body #doc .lightbox:hover .icon-maximize{
  font-size: 3em;
  transition: all ease-in-out .3s;
}

body.home section.expertos .uk-container{
  padding-top: 160px;
}

body .embed-responsive embed{
  width: 100%;
}

@media only screen and ( max-width: 600px){
  body .lightbox{
    max-height: 500px;
  }
  body .lightbox.pdf{
    height: 500px;
  }
}
@media only screen and ( max-width: 500px){
  body .lightbox{
    max-height: 400px;
  }
  body .lightbox.pdf{
    height: 400px;
  }
}
@media only screen and ( max-width: 400px){
  body .lightbox{
    max-height: 300px;
  }
  body .lightbox.pdf{
    height: 300px;
  }
}
body .uk-lightbox-items li[tabindex="-1"]{
  display: none;
}
body .uk-lightbox-items li.uk-active{
  overflow-y: auto;
  height: 100%;
  display: block;
}
body.img-top-lightbox .uk-lightbox-items>li.uk-active{
  align-items: flex-start;
}
body .uk-lightbox-items img{
  position: static !important;
  max-width: 90% !important;
  max-height: none;
  align-items: unset !important;
  display: block;
  margin: 2.5% auto;
}
body .uk-lightbox{
  background: rgba(0,0,0,.8);
}
body .uk-lightbox .uk-lightbox-toolbar-icon.uk-close-large.uk-icon{
  display: block;
  width: 100%;
}

body .link-source{
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}
body .link-source embed,
body .link-source iframe{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
body .link-source:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  z-index: 4;
}
body .uk-card.uk-card-default a.uk-button.uk-button-default:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.uk-card.uk-card-default{
  overflow: hidden;
}
.uk-card.uk-card-default .uk-cover-container{
  text-align: center;
  padding: 15px 15px 0 15px;
}
.uk-card.uk-card-default:hover .uk-cover-container{
  color: #9e2367;
}


@media only screen and ( max-width: 1199px){
  body.client-report .reporte-container{
    margin: 0 auto;
  }
}
.js-temas {
  .row{
    padding: 0 0 20px 0;
    h2{
      font-family: 'Nunito', Arial, sans-serif;
      font-size: 1.3em;
      font-weight: 400;
      small{
        position: relative;
        bottom: 3px;
      }
    }
  }
}

#list-news{
  h2{
    margin-top: 0;
  }
}

.news-group{
  .news-single{
    border-left: 3px solid #b3b3b3;
    padding: 0;
    margin: 40px 0 60px -2.55%;
    position: relative;
    &:hover{
      border-left: 3px solid #9e2367;
      h3{
        color: #9e2367;
      }
    }
    a:before{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .uk-button{
      text-transform: initial;
      background: #521e54;
      color: #fff;
      border-radius: 5px;
      border-color: #521e54;
      line-height: 30px;
      padding: 0 20px;
      font-size: .95em;
      &:hover, &:focus{
        color: #521e54;
        background: #fff;
      }
    }
    .info{ 
      width: 100%;
      >*{
        margin: 15px 0 0 0;
      }
      & div:last-child{
        margin-left: auto !important;
      }
    }
  }
  .more-theme-news{
    border-radius: 5px;
    border: 1px solid #521e54;
    color: #521e54;
    font-weight: 700;
    &:hover{
      background: #521e54;
      color: #fff;
    }
  }
}

.search-dash{
  input{
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0 5px 5px;
    font-size: 1em;
    background: none;
    -webkit-appearance:     none;
    -moz-appearance:        none;
    -ms-appearance:         none;
    -o-appearance:          none;
    appearance:             none;
    outline: none;
    &:hover, &:focus, &:active{
      border-bottom: 1px solid #fff;
      -webkit-appearance:     none;
    -moz-appearance:        none;
    -ms-appearance:         none;
    -o-appearance:          none;
    appearance:             none;
    }
  }
  ::-webkit-input-placeholder, :-ms-input-placeholder, ::placeholder{
    color: #fff !important;
  }
}

.uk-subnav.uk-slider-items a{
  color: #000 !important;
}
.uk-subnav.uk-slider-items .active>a{
  background: transparent;
  position: relative;
  color: #521e54 !important;
}
.uk-subnav.uk-slider-items .active>a:after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #521e54;;
}

.cartones{
  .carton{
    position: relative;
    .uk-card{
      position: relative;
      a{
        text-decoration: none;
        &:before{
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          background: transparent;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &:hover{
        img{
          opacity: .75;
        }
      }
    }
    &:after{
      content: '';
      width: 90%;
      height: 1px;
      display: block;
      background: #f2f2f2;
      position: absolute;
      bottom: -20px;
      right: 0;
      z-index: 0;
    }
    &:before{
      content: '';
      width: 1px;
      height: 100%;
      display: block;
      background: #f2f2f2;
      position: absolute;
      top: 0;
      right: -20px;
      z-index: 0;
    }
  }
}

#slider .uk-slidenav-previous{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.8) 75%, rgba(255,255,255,0) 100%);
  height: 100%;
  text-shadow: 0 0 4px #fff;
  margin-left: 0;
  margin-right: 0;
  color: #000;
}
#slider .uk-slidenav-next{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 25%, rgba(255,255,255,1) 100%); 
  height: 100%;
  text-shadow: 0 0 4px #fff;
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
  color: #000;
}

.primera.portada{
  position: relative;
  &:before{
    content: '';
    width: 1px;
    height: 100%;
    display: block;
    background: #f2f2f2;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: 0;
  }
}
.primeras, .portadas{
  img{
    padding: 15px;
  }
  a{
    text-decoration: none;
    &:hover{
      img{
        opacity: .75;
      }
    }
  }
  h4{
    margin-bottom: 0;
    text-decoration: none;
  }
  p{
    margin: 0;
    text-decoration: none;
  }
  .uk-slider-items{
    margin-left: -10px;
  }
  .uk-slider-nav{
    display: table;
    list-style: none;
    width: 100%;
    position: relative;
    z-index: 2;
    padding-top: 40px;
    li{
      list-style: none;
      display: table-cell;
      padding: 0 10px;
      a{
        background: #cdcdcd;
        width: 100%;
        height: 10px;
        display: block;
      }
      &.uk-active{
        a{
          background: #1a1a46;
        }
      }
    }
  }
}

body.client-sections{
  h1.page-header{
    font-size: 1.4em;
    text-transform: uppercase;
    color: #000;
    position: relative;
    margin-bottom: 0;
    &:before{
      content: '';
      width: 4px;
      height: 130px;
      display: block;
      position: absolute;
      top: -20px;
      left: -25px;
      background: #9e2367;
    }
  }
}

.client-sections{
  .uk-modal-dialog{
    .uk-button{
      text-transform: initial;
      background: #521e54;
      color: #fff;
      border-radius: 5px;
      border-color: #521e54;
      line-height: 30px;
      padding: 0 20px;
      font-size: .95em; 
    }
  }
}
.card-columna{
  .uk-cover-container{
    margin: 15px;
  }
  .uk-button{
    text-transform: initial;
    background: #521e54;
    color: #fff;
    border-radius: 5px;
    border-color: #521e54;
    line-height: 30px;
    padding: 0 20px;
    font-size: .95em;
  }
  a{
    text-decoration: none;
    * {
      text-decoration: none;
      color: #222;
    }
    h3{
      font-size: 1.4em;
      padding: 10px 0;
    }
    &:hover{
        img{
          opacity: .75;
        }
      }
  }
}

.uk-modal-body{
    vertical-align: top;
    font-size: 1.1em;
    padding: 3%;
    @media only screen and ( max-width: 1024px){
      padding: 4%;
    }
    @media only screen and ( max-width: 600px){
      padding: 5%;
    }
    div:first-child{
      vertical-align: top;
      width: 30%;
      display: inline-block;
      text-align: center;
      a:hover{
        button{
          color: #521e54;
          background: #fff;
        }
        img{
          opacity: .75;
        }
      }
      button{
        margin: 20px 0;
        border: 1px solid #521e54;
      }
      @media only screen and ( max-width: 1024px){
        width: 35%;
      }
      @media only screen and ( max-width: 600px){
        width: 100%;
        display: block;
      }
    }
    div:last-child{
      vertical-align: top;
      width: 66%;
      display: inline-block;
      padding-left: 3%;
      h2{
        margin-top: 0;
      }
      @media only screen and ( max-width: 1024px){
        width: 61%;
      }
      @media only screen and ( max-width: 600px){
        width: 100%;
        display: block;
        padding-left: 0;
        h2{
          margin-top: 20px;
        }
      }
    }
}

.sticky-this.uk-slider.uk-slider-container{
  li:last-child{
    padding-right: 30px;
  }
  a.uk-position-small{
    background: rgba(255,255,255,.6);
    color: #000;
    padding: 5px;
    margin: 15px 0;
  }
}