
body.about,
body.clients,
body.contact,
body.client-others-news,
body.client-sections,
body.themes,
body.news,
body.signin{
  display: flex;
  flex-direction: column;
}
body.about{
   background-size: cover;
   background-attachment: fixed;
   min-height: 100%;
   height: auto;
   background-position: center top;
   background-repeat: no-repeat;
}

body.news .op-content-mt.main-content,
body.themes .op-content-mt.main-content,
body.about .uk-container.op-content-mt,
body.clients .uk-container.clientes,
body.contact .uk-container.op-content-mt,
body.client-others-news .uk-container,
body.client-sections .uk-container,
body.signin .uk-container{
  flex: 1 0 auto;
}

body .uk-lightbox-iframe{
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-top: 2.5%;
  display: block;
}
body .lightbox{
  max-height: 600px;
  overflow: hidden;
}
body .lightbox .uk-lightbox-caption>*,
body .lightbox .uk-lightbox-caption{
  display: inline-block !important;
  margin: 0 auto !important;
  background: #000 !important;
}
body .lightbox.pdf{
  height: 600px;
}
body .lightbox a embed,
body .lightbox a img{
  transition: all ease-in-out .2s;
}
body .lightbox a:hover embed,
body .lightbox a:hover img{
  opacity: .75;
  transition: all ease-in-out .3s;
}
body #lightbox > a:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 4;
}
#doc{
  position: relative;
}
#doc #lightbox{
  position: relative;
}
#doc .icon-maximize{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  background: rgba(255,255,255,1);
  color: #000;
  font-size: 2em;
  padding: .3em;
  border-radius: 5px;
  text-decoration: none;
  transition: all ease-in-out .2s;
  z-index: 2;
}
body #doc .lightbox:hover .icon-maximize{
  font-size: 3em;
  transition: all ease-in-out .3s;
}

body.home section.expertos .uk-container{
  padding-top: 160px;
}

body .embed-responsive embed{
  width: 100%;
}

@media only screen and ( max-width: 600px){
  body .lightbox{
    max-height: 500px;
  }
  body .lightbox.pdf{
    height: 500px;
  }
}
@media only screen and ( max-width: 500px){
  body .lightbox{
    max-height: 400px;
  }
  body .lightbox.pdf{
    height: 400px;
  }
}
@media only screen and ( max-width: 400px){
  body .lightbox{
    max-height: 300px;
  }
  body .lightbox.pdf{
    height: 300px;
  }
}
body .uk-lightbox-items li[tabindex="-1"]{
  display: none;
}
body .uk-lightbox-items li.uk-active{
  overflow-y: auto;
  height: 100%;
  display: block;
}
body.img-top-lightbox .uk-lightbox-items>li.uk-active{
  align-items: flex-start;
}
body .uk-lightbox-items img{
  position: static !important;
  max-width: 90% !important;
  max-height: none;
  align-items: unset !important;
  display: block;
  margin: 2.5% auto;
}
body .uk-lightbox{
  background: rgba(0,0,0,.8);
}
body .uk-lightbox .uk-lightbox-toolbar-icon.uk-close-large.uk-icon{
  display: block;
  width: 100%;
}

body .link-source{
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}
body .link-source embed,
body .link-source iframe{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
body .link-source:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  z-index: 4;
}
body .uk-card.uk-card-default a.uk-button.uk-button-default:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.uk-card.uk-card-default .uk-cover-container img.uk-cover{
  transition: width ease-in-out .2s, height ease-in-out .2s;
}
.uk-card.uk-card-default:hover .uk-cover-container img.uk-cover{
  width: 110% !important;
  height: auto !important;
  transition: width ease-in-out .3s, height ease-in-out .3s;
}


