@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hh1wuu');
  src:  url('fonts/icomoon.eot?hh1wuu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hh1wuu') format('truetype'),
    url('fonts/icomoon.woff?hh1wuu') format('woff'),
    url('fonts/icomoon.svg?hh1wuu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e914";
}
.icon-microphone:before {
  content: "\e900";
}
.icon-screen:before {
  content: "\e903";
}
.icon-laptop:before {
  content: "\e907";
}
.icon-newspaper:before {
  content: "\e913";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-chevron-up:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e90f";
}
.icon-mail:before {
  content: "\e909";
}
.icon-map-pin:before {
  content: "\e90a";
}
.icon-maximize:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-user:before {
  content: "\e90d";
}
.icon-x:before {
  content: "\e90e";
}
.icon-zoom-in:before {
  content: "\e901";
}
