body{
    color: #000c1c;
    font-family: 'Open Sans', Arial, sans-serif;
    background: #fff;
}
body h1,
body h2,
body h3,
body h4,
body h5{
    font-family: 'Fjalla One', sans-serif;
}
body .uk-navbar-nav>li>a{
    color: #000c1c !important;
}
.uk-sticky.uk-sticky-below.uk-sticky-fixed{
    background: #f8f8f8;
}
.expertos{
    margin-top: -80px;
}
.expertos h1{
    font-size: 4.5em;
    text-transform: uppercase;
    color: #2a3bae;
}
.expertos h2{
    font-size: 1.7em;
    color: #382e55;
}
.expertos p{
    font-size: 1.2em;
}
.hacemos-por-ti{
    background-position: right 70%;
}
.hacemos-por-ti .uk-container{
    width: 100%;
}
.hacemos-por-ti h2{
    font-size: 2.5em;
}
.hacemos-por-ti ul{
    font-weight: 600;
    color: #fff;
    font-size: 1.1em;
}
.analisis.uk-light .uk-grid-divider>:not(.uk-first-column)::before,
.hacemos-por-ti.uk-light .uk-grid-divider>:not(.uk-first-column)::before{
    border-left-color: rgba(255,255,255,.7);
}


.servicios-medios ul{
    padding: 0;
    list-style: none;
    height: 700px;
    margin: 0;
    width: 100%;
    display: block;
    overflow: hidden;
}
.servicios-medios ul li{
    list-style: none;
    width: 10%;
    float: left;
    height: 100%;
    overflow: hidden;
}
.servicios-medios ul li h3{
    margin: 0;
    display: inline-block;
    padding-right: 1em;
    font-size: 2.2em;
}
.servicios-medios ul li.accordion-open h3{
    font-size: 3em;
    padding-right: 0;
    display: block;
}
.servicios-medios ul li a{
    white-space: nowrap;
    transform: rotate(-90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  /*transition: width ease-in-out .4s;*/
  padding: 5em 300px;
}
.servicios-medios ul li.accordion-open{
    width: 70%;
    transition: width ease-in-out .2s;
}
.servicios-medios ul li.accordion-open a{
    transform: none;
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: none;
  /* Firefox */
  -moz-transform: none;
  /* IE */
  -ms-transform: none;
  /* Opera */
  -o-transform: none;
  /* Internet Explorer */
  filter: none;
  /*transition: all ease-in-out .4s;*/
  cursor: text;
  padding: 0;
}
.servicios-medios ul li.accordion-open a span{
    display: none;
}
.servicios-medios ul li p{
    display: none;
}
.servicios-medios ul li.accordion-open p{
    display: block;
    font-size: 1.1em;
    color: #fff;
}
.servicios-medios ul a{
    display: block;
}
.servicios-medios ul li a span{
    background: rgba(255,255,255,.5);
    color: #000;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2em;
    position: relative;
    bottom: 10px;
}
.servicios-medios ul li a span.icon-l{
    line-height: 2.3em;
}
.servicios-medios ul li a span.icon-r{
    display: none;
}
.servicios-medios ul li.accordion-open + li + li + li a span.icon-r,
.servicios-medios ul li.accordion-open + li + li a span.icon-r,
.servicios-medios ul li.accordion-open + li a span.icon-r{
    display: inline-block;
}
.servicios-medios ul li.accordion-open + li + li + li a span.icon-l,
.servicios-medios ul li.accordion-open + li + li a span.icon-l,
.servicios-medios ul li.accordion-open + li a span.icon-l{
    display: none;
}
.analisis h4{
  font-size: 2.2em;
}
.analisis p{
  font-size: 1.1em;
}

.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}



footer.uk-section-secondary{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(12,10,117,1) 35%, rgba(187,20,73,1) 100%);
}